# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environment
.venv/
env/
venv/
ENV/

# IDE/editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv
.env

# Pytest cache & coverage
.pytest_cache/
.coverage
htmlcov/
